name: Test TiUP Nightly Package on Linux

on:
  push:
    branches:
      - 'main'
  schedule:
    - cron: '0 */3 * * *'  # Run every 3 hours
  workflow_dispatch:      # Allow manual triggering

jobs:
  test-tiup-nightly:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-22.04-arm]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      # - uses: shogo82148/actions-setup-mysql@v1
      #   with:
      #     mysql-version: "8.0"
      #     auto-start: false

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.23

      - name: Install TiUP
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://tiup-mirrors.pingcap.com/install.sh | sh
          export PATH=$PATH:${HOME}/.tiup/bin

      - name: Checkout TiUP Nightly
        run: |
          # Remove the existing nightly components to ensure a clean state
          rm -rf ${HOME}/.tiup/components/
          export PATH=$PATH:${HOME}/.tiup/bin
          make run-checker
        env:
          API_ENDPOINT: ${{ secrets.API_ENDPOINT }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FEISHU_SUCCESS_WEBHOOK: ${{ secrets.FEISHU_SUCCESS_WEBHOOK }}
          FEISHU_FAILURE_WEBHOOK: ${{ secrets.FEISHU_FAILURE_WEBHOOK }}
